* {
  box-sizing: border-box;
}
:root {
  --font_head: "Sen", serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* các phần tử common*/

.title_head {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 30px; /* 166.667% */
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  /* min-width: 118px; */
}

.btn:hover {
  opacity: 0.8;
}

.head-lv2 {
  color: #171100;
  font-family: var(--font_head);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26316; /* 126.316% */
  letter-spacing: -0.76px;
}

/* line-clamp */

.line-clamp {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  /* width: 250px; */
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
}

.line-clamp.line-clamp-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/* -------------------------------------------------- */

/* Main_content */
.main_content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

/* ============== Header ============ */

.header.fixed {
  z-index: 1;
  background-color: #fffcf4;
  position: sticky;
  top: -28px;
}

/* ======= body_header ========== */
.body_header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 36px;
}

.body_header .logo {
  width: 85px;
  height: 34px;
}

/* ============ nav =============*/
.nav {
  position: relative;
  margin-left: auto;
  margin-right: 70px;
  line-height: 28px;
  width: 359px;
  height: 28px;
  /* margin-left: 400px; */
}

.nav ul {
  display: flex;
  justify-content: space-between;
}

/* a in nav */
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 0;
}

.nav .active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
  position: absolute;
  bottom: 0px;
}

.nav li.active a,
.nav a:hover {
  /* Sử dụng font-weight làm cho Chữ dày lên khiến cho các text bên cạnh bị giật*/
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

/* -------------------------------- NAV ----------------------------------- */

/* ============= action btn =============== */

.action .btn-sign-up {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-width: 144px;
  line-height: 50px;
  border-radius: 24.5px;
  background-color: #171100;
}

/* ================================ Main ================================= */

/* ==================== Hero ===================== */
.hero {
  background-color: #fffcf4;
  padding: 65px 0;
}

/* ---------- Body --------------
           media-block 
          content-block
*/

.hero .body {
  display: flex;
  /* align-items: flex-end; */
}

/* <!-------------------------- hero-left ---------------------------> */
.hero .media-block {
  position: relative;
  width: 48.718%;
}

.hero .media-block + img {
  width: 470px;
  height: 685px;
  object-fit: fill;
  border-radius: 20px;
}

/* ================ hero_summary ===========*/
.hero .hero-summary {
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0 24px 24px;
  position: absolute;
  bottom: 48px;
  left: 300px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  /* vì icon là con của .courser mà .courser có display: flex */
  align-self: center;
}

/* ------ courser ------ */

.hero-summary .Courser {
  display: flex;
}

/* ---- info */
.hero-summary .info {
  height: 56px;
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 185.714%; /* 26px*/
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%; /* 30px  */
}

/* ----------------------------- hero-right -------------------------- */

.hero .content-block {
  width: 51.282%;
  padding-left: 130px;
  padding-top: 46px;
}

.hero .head_content {
  color: var(--font_head);
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px; /* 117.241% */
  letter-spacing: -1.16px;
  margin-bottom: 28px;
}

.hero .action_hero {
  display: flex;
  align-items: center;
  margin: 38px 0 49px;
}

.hero .button_left {
  /* display: inline-block; */
  height: 64px;
  margin-right: 28px;
}

.hero .button_left .btn_1 {
  font-size: 1.8rem;
  line-height: 30px;
  line-height: 64px;
  min-width: 180px;
  background: var(--primary-color);
  border-radius: 32px;
  /* padding: 17px 33px 17px 34px; */
}

.hero .button_right {
  display: flex;
  align-items: center;
  height: 40px;
}

.hero .button_right .text_btn {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  margin-left: 14px;
  width: 148px;
}

.hero .button_right img {
  display: inline-block;
  height: 12px;
  width: 12px;
}

.hero .button_right button:hover {
  opacity: 0.6;
}

.hero .button_right button {
  height: 40px;
  width: 40px;
  border: none;
  background: #fff;
  border-radius: 999px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

/* =========== number ========= */

.hero .number {
  display: flex;
  column-gap: 28px;
  margin-top: 8px;
}

.hero .number h2 {
  display: inline;
  color: #171100;
  font-family: var(--font_head);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
}

.hero .number span {
  margin-left: 12px;
}

/* ============================== POPULAR ========================== */
.popular {
  margin-top: 200px;
}

/* ---- popular-top ---*/

.popular .popular_top {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

/* popular-left */
.popular .info .head-lv2 {
  margin-bottom: 16px;
}

/* popular-right */

.popular_top .control {
  display: flex;
  margin-left: 614px;
  column-gap: 18px;
}

.popular_top .control button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-color);
  background-color: #fff;
  border-radius: 999px;
  color: var(--primary-color);
}
.popular_top .control button:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

/* ---- popular-bottom ----*/

.popular .course-list {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  column-gap: 30px;
}

/* learn-design */
.course-list .learn_design {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  /* width: 372px; */
  /* height: 466px; */
  flex: 1;
}

.course-list .learn_design:hover {
  border: 1px solid transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .learn_design .thumb {
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  height: 278px;
}

/* info */

.popular .learn_design .info {
  margin: 16px 22px 22px;
}

/* head */
.course-list .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.course-list .head_3 {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66667; /* 166.667% */
}

.course-list .review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48px;
  height: 28px;
}

.course-list .review .star {
  width: 18px;
  height: 18px;
}

.course-list .review span {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  width: 24px;
  height: 28px;
}
/* -------------------------- */

.course-list .title_head {
  font-size: 1.4rem;
  line-height: 26px;
}

/* foot */
.course-list .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.course-list .foot .action .btn_1 {
  font-size: 1.4rem;
  line-height: 50px; /* 185.714% */
  border-radius: 25px;
  background: #171100;
  padding: 0 24px;
  min-width: max-content;
}

.course-list .foot .action .btn_1:hover {
  background-color: var(--primary-color);
}

/* ------------------------------- */

/* ================= feedback ==================*/

.feedback {
  background: #2e2100;
  margin-top: 200px;
  padding: 96px 0px;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-items {
  transform: translateX(-100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

/* Khối bên trái */

.feedback-items .info {
  flex-shrink: 0;
}

.feedback-items .info .avatar {
  border-radius: 72px;
  width: 72px;
  height: 72px;
  object-fit: cover;
  object-position: 50% 15%;
}

.feedback-items .info .name {
  margin: 18px 0 4px;
  color: #f7f7f7;
  font-family: var(--font_head);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
}

.feedback-items .info p:last-of-type {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.85714; /* 185.714% */
}

.feedback-items .info .dots {
  display: flex;
  column-gap: 6px;
}

.feedback-items .info .dot {
  cursor: pointer;
  width: 6px;
  height: 6px;
  margin-top: 28px;
  border-radius: 6px;
  background: #634700;
}

.feedback-items .info .dot.active {
  background: var(--primary-color);
  cursor: default;
}

/* quotes */

.quotes {
  width: 66%;
}

.quotes blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 40px; /* 153.846% */
  margin-left: 30px;
}

/* =============== features =================*/

/* ------ feature 1 ------- */
.features {
  margin-top: 200px;
}

.features .body {
  display: flex;
  align-items: center;
  /* min-height: 440px; */
}
.body .feature-img {
  display: flex;
  align-self: center;
  gap: 30px;
}
.body .feature-img .avatar {
  width: 270px;
  height: 405px;
  border-radius: 16px;
  object-fit: cover;
  image-rendering: crisp-edges;
  object-position: 30% 0%;
}

.body .feature-img .lower {
  margin-top: 34px;
}

/* khối bên phải */
.features .feature-info {
  width: 40.171%;
  margin-left: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.body .feature-info .title_head {
  margin: 16px 12px 16px 0;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.body .feature-info .active .btn_1 {
  margin-top: 16px;
  line-height: 50px;
  background-color: var(--primary-color);
  border-radius: 26px;
  /* flex-shrink: 0; */
  padding: 0 35px;
  min-width: max-content;
}

/* ------ feature 2 ------- */
.feature-2 .body {
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.feature-2 .feature-info {
  /* Vì ở trên có margin-left: auto nên sẽ làm cho phần tử căn giữa */
  margin-left: 0;
  margin-right: auto;
  min-width: 48.72%;
}

.feature-2 .body .avatar {
  width: 470px;
  height: 440px;
  object-position: 0% 50%;
}
